        @import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|B612|Lora');
        #nar{
            height: 20vh;
            background-color: antiquewhite;
            width: 100%;
        }
        #info{
            width: 30%;
            height: 20vh;

            float: left;
/*            text-align: center;*/
            margin: 4vh 4vh 4vh 20vh;
            padding: 2%;
            line-height: 150%;

        }
        #question{
            width: 30%;
            height: 20vh;
           
            float: right;
/*            text-align: center;*/
           margin: 4vh 30vh 4vh 4vh;
            padding: 1%;
            line-height: 150%;
            transform: translateY(1.84vh);
        }
        #map{
            width: 80%;
            height:100vh;
            clear: both;
            text-align: center;
            margin: 50vh 20vh 20vh 20vh;
            
        }
        #map>img {
            width: 80vh;
            float: left;  
            margin-top: 5vh;
        }
        #info > ul{
            list-style-type: none;
        }
        #info span{
            
            font-size: 18pt;
        }
        #question span{
            
            font-size: 18pt;
        }
         #text{
            font-size: 18pt;
        }
        #text2{
            
            float: right;
            padding-top: 30vh;
            font-size: 18pt;
            width: 40vh;
            line-height: 200%;

        }
        body{
            font-family: 'B612', sans-serif;
        }