<style>
body{
    margin: 0 auto;
}
#firstpage{
    width: cover;
    background-image: url('https://img00.deviantart.net/a72c/i/2014/352/d/b/the_dark_kingdom___secret_garden_by_silberius-d8ab12e.jpg');
    background-repeat: no-repeat;
    background-size: 120% 100%;
    position: relative;
}
#header{
    height: 100px;
    width: 100%;
    background: black;
    opacity: 0.4;
    margin-top: 0%;
    /*float: left;*/
    position: relative;
    top:-15%;
}
#innerheader{
    width: 80%;
    margin: 0 auto;
}
#heading{
    font-size: 350%;
    width: 25%;
    float: left;
    margin-top: 1%;
    color: lime;
    font-family: "Times New Roman";
}
nav{
    width: 75%;
    float: left;
    margin-top: 2%;
    
}
nav>button:first-child{
    margin-left: 30%;
}
nav>button{
    text-decoration: none;
    display: inline-block;
    background: transparent;
    border: 2px solid White;
    border-radius: 20px;
    padding: .7% 15px;
    position: relative;
    color: White;
    font-size: 15px;
    margin-left: 2%;
}
nav>button:hover{
    background: White;
    color: black;
    font-size: 15px;
    border-color: White;
}
#about-dropdown-content{
display: none;
position: absolute;
background-color: #f9f9f9;
opacity: 0.9;
min-width: 116px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); 
z-index: 1;
margin-left: -5%;
margin-top: 16%;
}
#about-dropdown-content a{
color: black;
opacity: 1.0;
padding: 10px 10px;
text-decoration: none;
display: block;
margin-top: -5%;
}
#about-dropdown-content a:hover{
background: Black;
color: white;
    
}
nav>button:hover #about-dropdown-content{
    display: block;
}
#middle{
    margin-left: 40%;
}
#middle>a{
    display: inline-block;
    background: #3FCCF8;
    border: 2px solid 3FCCF8;
    height: 50px;
    width: 30%;
    margin-top: 45%;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    color: #fafafa;
    margin-bottom: 25%;
    opacity: 0.85;
}
#middle>a:hover{
    background: #0ef6f4;
    opacity: 0.85;
    color: #ffffff;
}
a>p{
    margin-top: 4%;
    font-size: 25px;
}
#firstpagemaincontent1{
    font-style: italic;
    font-size: 50px;
    font-stretch: expanded;
    color: white;margin-left: 0%;
    position: absolute;
    margin-top: 22%;
}
#firstpagemaincontent2{
    position: absolute;
    margin-top: 28%;
    color: white;
    margin-left: 4%;
}
#secondpageline1{
    font-size: 45px;
    margin-left: 10%;
    margin-top: 3%;
    font-weight: 600;
}
#secondpageline2{
    font-size: 25px;
    margin-left: 18%;
    margin-right: 26%;
    text-align: center;
    margin-top: 1.5%;
    color: gray;
}
#secondpagesecondpart{
    margin-top: 5%;
}
#secondpageimage1{
    margin-left: 6%;
    margin-top: 4%;
}
#secondpageabout{
    font-size: 40px;
    margin-left: 65%;
    margin-top: -22%;
    font-weight: bold;
}
#secondpageaboutPara{
    margin-top: 3%;
    margin-left: 55%;
    font-size: 25px;
    text-align: center;
    margin-right: 15%;
}
#secondpagethirdpart{
    margin-top: 30%;
}
#secondpagegardenplan{
    margin-top: -10%;
    margin-left: 20%;
    font-size: 40px;
    font-weight: bold;
}
#gardenplanhref{
    margin-top: 5%;
    margin-left: -3%;
    background: #3FCCF8;
    margin-right: 76%;
    border-radius: 30px;
}
#gardenplanhref>a{
    text-decoration: none;
    font-size: 30px;
    margin-left: 7%;
    color: white;
}
#gardenplanhref:hover{
    opacity: 0.8;
}
#secondpageimage2{
    margin-right: 5%;
    float: right;
    margin-top: -15%;
}
/*#footer{
    margin-top: 12%;
    height: 90px;
    background: Black;
}
#footerfiller{
    height: 30px;
}
#footercontent{
    text-align: center;
    font-size: 25px;
    color: white;
}*/


        #footer{
position: absolute;
top:93%;
width: 100%;
height: 7%;
background-color: #1BB634;
border-radius: 4px;
        }
        
        
        
#gardencontent{
        width: 100%;
        height:722px;
        background-color: lime;
        position:absolute;
        top:15.25%;
        }

         #pot-square-2{
        width: 30%;
        background: #C4C4C4;
        border: 2px solid #FFFCFC;
        margin:5%;
        position: relative;
        top:-5%;
        left:15%;
        }

        #pot-inner-square{
        height:60%;
        width:60%;
        outline: 2px solid white;
        position:relative;
        top:20%;
        left:15%;
        }

        #pot-inner-square-2{
        height:60%;
        width:60%;
        outline: 2px solid white;
        position:relative;
        top:20%;
        left:15%;
        }
        
        .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
        
        #veg-container2{
        position: relative;
        top:30%;
        background-color: rgb(189,105,105);
        height:40%;
        width:40%;
        margin:0 auto;
        }
        
        #pot-button{
        position: relative;
        top:-70%;
        right:8%;
        width: 20px;
        height: 20px;
        background: #C4C4C4;
        border: 2px solid #FFFCFC;
        border-radius: 50%;
        }

        #pot-button-2{
        position: relative;
        top:-70%;
        right:8%;
        width: 20px;
        height: 20px;
        background: #C4C4C4;
        border: 2px solid #FFFCFC;
        border-radius: 50%;
        }
        
        #border{
        height:35%;
        width:80%;
        outline: 5px dotted white;
        position:absolute;
        left:10%;
        top:10%;
        }
        
        #veg-container1{
        display: flex;
        width:35%;
        height:20%;
        position:absolute;
        left:23%;
        top:5%;
        background-color: rgb(189,105,105);;
        }

        @import url('https://fonts.googleapis.com/css?family=Alegreya+Sans|B612|Lora');
        #rightContent{
            background-color: whitesmoke;
            float: right;
            height: 35%;
            width: 20%;
            border: 3px black solid;
            position: relative;
            top:50%;
            right:5%;
        }
       
        #like{
            width: 10%;
            padding-right: 3vh;
            padding-left: 3vh;

        }
        #plantinfo{
            border-top: 3px black solid;

        }
        #plantinfo ul{
            list-style-type: none;
            line-height: 200%;
            font-size: 12pt;
            
        }

        

        


        
        
        
</style>              